.right-side > h2 {
  margin-top: 20px;
}

.birthday-months {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  margin-top: 20px;
}

.birthday-months > div {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  margin-bottom: 20px;
  flex-shrink: 0;
  padding: 10px;
}

.birthday-months > div:last-child {
  margin-bottom: 0px;
}

.birthday-months > div > h2 {
  margin-bottom: 5px;
}

.birthday-months > div > div > div {
  margin-left: 15px;
  position: relative;
}

.birthday-months > div > div > div > span {
  font-weight: bold;
}

.birthday-months > div > div > div:before {
  content: '';
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: hsl(23, 100%, 50%);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}