@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mada:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mada', sans-serif;
  cursor: default;
}

body {
  background-color: hsl(225, 13%, 13%);
}
