.main-container {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px;
  height: calc(100vh - 50px);
}

header > h2 {
  color: white;
  height: 50px;
  padding: 10px 30px;
  position: relative;
}

header > h2:after {
  background-color: hsl(23, 100%, 50%);
  height: 5px;
  width: 5px;
  border-radius: 3px;
  content: '';
  position: absolute;
  z-index: 100;
  display: block;
  top: 15px;
  left: 217px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

section > div {
  align-self: center;
}

h1 {
  font-size: 40px;
  border-bottom: 5px solid hsl(23, 100%, 50%);
}

.left-side {
  flex-grow: 1;
  min-width: 680px;
  background-color: hsl(0, 0%, 100%);
}

.left-side > h1 {
  background-image: url(./fon.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.right-side {
  width: fit-content;
  background-color: hsl(0, 0%, 95%);
  flex-shrink: 0;
}
